<launch>

  <!-- Setup the camera -->
  <arg name="camera" default="usb_cam"/>

  <!-- Launch pointgrey drivers -->
  <include file="$(find vins_launch)/launch/usb-ps3.launch" />

  <!-- ORB_SLAM2 Mono -->
  <node pkg="orb_slam2" type="mono" name="mono" output="screen" args="$(find orb_slam2)../../../Vocabulary/ORBvoc.txt $(find orb_slam2)/config/mono-ps3.yaml">
    <remap from="/camera/image_raw" to="$(arg camera)/image_raw"/>
  </node>

</launch>